# SPDX-FileCopyrightText: Contributors to the Power Grid Model project <powergridmodel@lfenergy.org>
#
# SPDX-License-Identifier: MPL-2.0

[submodule "deps/power-grid-model"]
	path = deps/power-grid-model
	url = https://github.com/PowerGridModel/power-grid-model.git
	branch = main
