# SPDX-FileCopyrightText: Contributors to the Power Grid Model project <powergridmodel@lfenergy.org>
#
# SPDX-License-Identifier: MPL-2.0

[submodule "power-grid-model"]
	path = power-grid-model
	url = git@github.com:PowerGridModel/power-grid-model.git
